* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: green;
    color: white;
    width: 100%;
}

h1 {
    padding: 25px 25px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

nav ul li a:hover {
    color: blanchedalmond;
}

main {
    margin: 0 30px 30px;
    top: 210px;
    z-index: 0;
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 300px;
}

#linkedin a {
    color: blue;
    text-decoration: none;
}

#linkedin a:hover {
    color: green;  
    font-weight: 600;
}

#licoes-aprendidas, #licoes-a-aprender {
    display: inline-block;
    margin: 30px 30px 30px 0;
}

ol, ul {
    margin: 15px 30px;
    line-height: 25px;
}

.lado-esquerdo, .lado-direito {
    display: inline-block;
    text-align: justify;
}

p {
    line-height: 25px;
    margin: 15px 0;
}

.lado-esquerdo {
    width: 55%;
}

.lado-direito {
    padding: 0 0 0 120px;
    width: 35%;
}

.lado-direito ul {
    list-style-type: none;
    margin-left: 0;
}

.lado-direito ul li a {
    color: blue;
    text-decoration: none;
}

.lado-direito ul li a:hover {
    color: green;
    font-weight: 600;
}

#tabela-infos {
    margin: 25px 0;
}

table {
    border-collapse: collapse;
    margin: 25px 15px;
    width: 50%;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child( even ) {
    background-color: white;
}

tr:nth-child( odd ) {
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}

footer {
    margin: 40px 30px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
